@media (max-width: 1200px) {
    .cover-header h1 {
        font-size: 2.6rem;
    }
    .cover-header h2 {
        font-size: 1.6rem;
    }

    #employment {
        grid-template-columns: repeat(1, 1fr);
    }
    .enrollment-form form button {
        width: 40%;
    }
}

@media (max-width: 820px) {
    .cover-header h1 {
        font-size: 2.4rem;
    }
    .cover-header h2 {
        font-size: 1.4rem;
    }

    .hole-design {
        width: 15%;
    }
    .enrollment-form .form {
        width: 100%;
    }
    .enrollment-details {
        padding: 0 2rem;
    }
    .detail h2 {
        font-size: 1.6rem;
    }

    #project {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .cover-header h1 {
        font-size: 2.2rem;
    }
    .cover-header h2 {
        font-size: 1.2rem;
    }
}
@media (max-width: 650px) {
    .navbar{
        padding: 1rem 2rem;
    }
    
    .goo-logo{
        width: 100px;
    }
    .cover {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    #enrollment-section {
        flex-direction: column;
        gap: 2.6rem;
    }

    .enrollment-form,
    .enrollment-details {
        width: 100%;
    }
    .hole-design{
        width: 10%;
    }
    .hole {
        width: 20px;
        height: 20px;
    }
    .enrollment-form .form {
        width: 100%;
    }
    .note{
        text-align: center;
    }

    .employment-details h2{
        font-size: 2rem;
        text-align: center;
    }
    .employment-details p{
        font-size: 1.4rem;
        text-align: center;
    }

    #agenda h1{
        font-size: 2rem;
    }
    #agenda p{
        font-size: 1.4rem;
    }

    .project-details h2{
        font-size: 2rem;
    }
    .project-details span{
        color: #3586ef;
    }
    .project-details p{
        font-size: 1.4rem;
    }

    #tools h1{
        font-size: 2rem;
    }

    #join h1{
        font-size: 1.4rem;
    }
    #join button{
        font-size: 1.2rem;
        padding: 1rem 1.8rem;
        width: 100%;
        background-color: #3586ef;
        color: white;
        cursor: pointer;
        border: none;
        font-weight: 800;
    }
    #join p{
        font-size: 1.2rem;
    }

    footer{
        text-align: center;
    }
    
}
